@define-color base #1a1b26;
@define-color text #a9b1d6;
@define-color primary #7aa2f7;
@define-color warning #e0af68;
@define-color alert #f7768e;

* {
    border: none;
    font-family: "JetBrainsMono Nerd Font", FontAwesome, sans-serif;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: @base;
    color: @text;
    transition-property: background-color;
    transition-duration: 0.2s;
}

#workspaces button {
    padding: 0 8px;
    color: alpha(@text, 0.6);
    background: alpha(@primary, 0.1);
    margin: 4px 2px;
    border-radius: 4px;
}

#workspaces button.active {
    color: @primary;
    background: alpha(@primary, 0.2);
}

#workspaces button.urgent {
    color: @alert;
}

#window {
    font-weight: 500;
    padding: 0 16px;
}

#custom-launcher {
    font-size: 21px;
    padding: 0 12px;
    color: @primary;
}

#mpris {
    color: alpha(#8be9fd, 0.8);
    padding: 0 12px;
    border-radius: 4px;
    /* background: alpha(@primary, 0.1); */
}

#tray {
    background-color: #44475a;
    border-radius: 8px;
    padding: 0 6px;
    margin-right: 6px;
    margin-left: 6px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @alert;
}

#clock {
    font-weight: bold;
    padding: 0 12px;
    color: #bd93f9;
    border-radius: 8px;
    background-color: alpha(#FFFFFF, 0.1);
}

#power-profiles-daemon {
    padding: 0 12px;
}

#power-profiles-daemon.power-saver {
    color: #55FF55;
}

#power-profiles-daemon.balanced {
    color: #FFFFFF;
}

#power-profiles-daemon.performance {
    color: #FF5555;
}

#pulseaudio {
    color: #50fa7b;
    padding: 0 12px;
}

#pulseaudio.muted {
    color: #ff5555;
}

#network {
    color: @warning;
    padding: 0 12px;
}

#bluetooth {
    color: alpha(@primary, 0.8);
    padding: 0 12px;
}

#backlight {
    color: @warning;
    padding: 0 12px;
}

#custom-notification {
    color: @alert;
    padding: 0 12px;
}

#battery.critical:not(.charging) {
    background-color: #ff5555;
    color: #f8f8f2;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #bf616a;
        color: #f8f8f2;
    }
}
